.vscode
virtual/example1.exe
virtual/example2.exe
static/variabila_statica_clasa.exe
static/variabila_statica.exe
static/statica_membru_clasa.exe
static/static_functions.exe
const/example1.exe
const/example2.exe
const/example3.exe
const/example4.exe

virtual/example1.o
virtual/example2.o
static/variabila_statica_clasa.o
static/variabila_statica.o
static/statica_membru_clasa.o
static/static_functions.o